@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

/*-------------------- header nav start ----------------*/
header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    padding: 20px 100px;
    transition: 0.6s;
}

header.sticky {
    /* background: #43637a; */
    background: #DF5646;
    padding: 15px 100px;
}

header .brand {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.6s;
}

header .menu a:hover {
    color: #000;
    background-color: #fff;
}

header .btn {
    color: #000;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1060px) {
    header .btn {
        display: block;
    }

    header .menu {
        position: fixed;
        background: #DF5646;
        flex-direction: column;
        min-width: 400px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
    }

    header .menu.active {
        right: 0;

    }

    header .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    header .menu a {
        display: block;
        font-size: 15px;
        margin: 20px;
        padding: 5px 15px;
    }

}

/*-------------------- header nav end ----------------*/

/*-------------------- header section start ----------*/
.header-section {
    background-color: #0A183D;
}

.container {
    max-width: 1150px;
    margin: auto;
}

.header-section-main {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.header-section-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-section .heading {
    margin-top: 250px;
}

.rakib-color {
    color: #DF5646;
}

.header-section h1 {
    color: #ffff;
    font-size: 50px;
    font-weight: 600;
}

.header-section h3 {
    font-size: 20px;
    color: #dbd2d2;
    font-weight: 600;
    margin-bottom: 40px;
}

.header-section .header-section-img {
    margin-top: 150px;
}

.header-section a {
    text-decoration: none;
    color: #fff;
    background-color: #DF5646;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    /* transition: 0.5s; */
}

.header-section a:hover {
    background-color: transparent;
    border: 2px solid #DF5646;
}

.header-section i {
    margin-left: 10px;
    font-size: 15px;
    opacity: 80%;
}

/* responsive start */

@media (max-width: 1060px) {
    .header-section .heading {
        margin-top: 210px;
    }

    .header-section h1 {
        font-size: 45px;
        margin-left: 98px;
    }

    .header-section h3 {
        margin-left: 98px;
    }

    .header-section a {
        margin-left: 98px;
    }

    .header-section img {
        width: 500px;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .header-section .heading {
        margin-top: 180px;
    }

    .header-section h1 {
        font-size: 16px;
    }

    .header-section img {
        width: 200px;
        margin-top: 20px;
    }

    .header-section h3 {
        font-size: 10px;
    }

    .header-section a {
        margin-left: 98px;
        padding: 10px 15px;
        font-size: 10px;

    }
}

/* responsive end */
/*-------------------- header section end ----------------*/

/*-------------------- services section start ------------*/
.servics-section {
    height: 750px;
    background-color: #F9FAFB;
}

.servics-section h1 {
    color: #DF5646;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
}

.servics-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.servics-heading-row h2 {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 600;
}

.servics-color {
    color: #DF5646;
}

.servics-hr {
    height: 30px;
    width: 3px;
    background-color: #cfcdcd;
    position: absolute;
    margin-top: 99px;
    margin-left: 260px;
}

.servics-heading-row p {
    color: gray;
    font-weight: 300;
    margin-bottom: 30px;
}

.servics-icon .arrow-icon {
    background-color: #78ADD9;
    color: #ffff;
    padding: 15px 20px;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
}

.servics-icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.servics-icon {
    margin-bottom: 20px;
}

.icon-row {
    display: grid;
    grid-template-columns: 55px auto auto;
}

.icon-row h4 {
    color: #1D2043;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: 500;
    cursor: pointer;
}

.icon-row .arrow-right-icon {
    margin-top: 20px;
    color: gray;
    font-size: 15px;
    opacity: 60%;
    margin-left: 30px;
    cursor: pointer;

}

/*-------------------- services section end --------------*/

/*-------------------- Skills section start --------------*/

.skills-section {
    height: 800px;
}

.skills-section h1 {
    color: #DF5646;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 80px;
}

.skills-row {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
}

.skill-heading h2 {
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 20px;
    color: #1D2043;
    font-weight: 500;
}

.skill-heading p {
    color: #00000099;
}

.my-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.html-skill {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    margin-top: 50px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.my-skills h3 {
    margin-left: 20px;
    position: absolute;
    margin-top: 20px;
    font-size: 20px;
    color: gray;
    font-weight: 500;
    cursor: pointer;
}

.my-skills h4 {
    margin-left: 13px;
    color: #DF5646;
    font-size: 18px;
}

/*-------------------- Skills section end ----------------*/

/*-------------------- portfolio section start -----------*/

.portfolio-section {
    height: 850px;
}

.portfolio-section h1 {
    color: #DF5646;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 100px;
}

.portfolio-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.portfolio-row p {
    font-size: 16px;
    padding-top: 20px;
    color: #00000099;
    margin-bottom: 80px;
}

.portfolio-row a {
    font-size: 18px;
    text-decoration: none;
    color: #DF5646;

}

.portfolio-row i {
    margin-left: 5px;
    opacity: 50%;
}

.portfolio-color {
    color: #DF5646;
}

.portfolio-hr {
    height: 50px;
    width: 2px;
    margin-left: 80%;
    background-color: gray;
}

.portfolio-experience {
    margin-top: 30px;
}

.portfolio-experience h2 {
    font-size: 45px;
    color: #DF5646;
    font-weight: 500;
}

.portfolio-experience h4 {
    font-size: 16px;
    color: #1D2043;
    line-height: 20px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 25px;
}

.portfolio-row h2 {
    position: absolute;
    font-size: 30px;
    color: #1D2043;
    font-weight: 600;
}

.portfolio-experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.experience-row {
    display: flex;
}

.website-templates {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 70px;
}

.website-templates img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 260px;
    border-radius: 5px;
}

.img-1 img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .4s ease-in-out;
}

.img-1:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*-------------------- portfolio section end -------------*/


/*-------------------- Qualification section start -------*/
.qualification-section {
    height: 1000px;
    background-color: #F9FAFB;
}

.qualification-heading h1 {
    color: #DF5646;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    padding-top: 80px;
    padding-bottom: 100px;
}

.qualification-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.qualification-row h2 {
    font-size: 28px;
    font-weight: 500;
    margin-left: 50px;
    color: #1D2043;
}

.my-education {
    padding-top: 25px;
}

.my-education {
    display: grid;
    grid-template-columns: 120px 20px 380px;
}

.education-p p {
    font-size: 14px;
    padding-top: 40px;
    color: rgba(0, 0, 0, 0.6);
}

.education-hr {
    height: 260px;
    width: 1px;
    background-color: #e0d8d8;
}

.education-h5-h4-p h5 {
    font-size: 18px;
    color: #DF5646;
    padding-top: 35px;
    font-weight: 500;
}

.education-h5-h4-p .behance-color {
    color: #1f44ff;
}

.education-h5-h4-p .dribble-color {
    color: #f012be;
}

.education-h5-h4-p h4 {
    font-size: 20px;
    color: #1D2043;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 10px;
}

.education-h5-h4-p p {
    font-size: 15px;
    color: #78ADD9;
    font-weight: 400;
    padding-bottom: 30px;

}

.education-h5-h4-p small {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);

}

/*-------------------- Qualification section end ---------*/